/*  your css code here. If applicable */
h1{
	text-align: center
}

.middle{
	border: 1px solid black;
	margin: 1px;
}

td{
	padding: 1px
	
}

.left{
	text-align: left;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}

.blue{
	background-color: blue;
}
.green{
	background-color: green;
}